@charset "UTF-8";
body {
    text-align: center;
    background: lavender url(photos/blackgoose.png) no-repeat center 100px fixed;
    font-family: "Raleway", sans-serif;
}

h1 {
    font-family: "Shadows Into Light", sans-serif;
    color: darkorchid;
    text-align: center;
}

h2{
    color: darkorchid;
    font-family: "Raleway", sans-serif;
}

h3{
    color: darkorchid;
    font-family: "Raleway", sans-serif;
}


ul {
    position: relative;
    display: inline-block;
    padding-left: 1em;
    left: 50%;
    transform: translateX(-480%);
}

strong {
    font-style: italic;
  }

a:link {
    color: darkorchid;
}

a:visited {
    color: #b061c1;
}

a:focus, a:hover {
    color: #c700f2;
    
}

p.warning, sup {
    font-size: small;
  }

.price {
  font-family: Georgia, serif;
  font-style: italic;
  color: darkmagenta;
}


